body {
    background-color: white;
    color: rgb(28, 221, 255);
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

header {
    background-color: #cc0000;
}

footer {
    background-color: #cc0000;
}
